<tr id='<%= dom_id(slider) %>'>
  <td>
    <%= image_tag(slider.get_image, size:"50x50") %>
    <%= slider.name %>
  </td>
  <td class='text-right'>
    <%= link_to 'Editar', edit_backend_slider_path(slider), remote: true, class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to 'Borrar', backend_slider_path(slider), method: :delete, remote: true, data: { confirm: 'Esta seguro?' }, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>
