<% if !@config.nil? %>
  <%= image_tag(@config.get_logo, size:'100x100', id: 'js-logo' )%>
  <%= link_to 'Edit config', edit_backend_configs_path, remote: true, class: 'btn btn-primary' %>
<% else %>
  <%= image_tag('missing.png', size: '100x100', id:'js-logo')%>
  <%= link_to 'Nueva config', new_backend_config_path, remote: true, class: 'btn btn-info' %>
<% end %>
<h1 class='mt-2'>Sliders</h1>
<%= render 'flash_message'%>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Sliders</th>
      <th class='text-right'><%= link_to 'Nuevo slider', new_backend_slider_path, remote: true, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody id='sliders_container'>
    <%= render @sliders %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>