<%= form_with model: [:backend, @tag] do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      <%= @tag.persisted? ? "Editar tag" : 'Nuevo tag' %>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>