<h1 class='mt-2'><%= I18n.t(:tags)%></h1>
<%= render 'flash_message' %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th><%= I18n.t(:name)%></th>
      <th class='text-right'><%= link_to I18n.t(:new), new_backend_tag_path, remote: true, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody id='tags_container'>
    <%= render @tags %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>