<%= form_with url: edit_path, model:User, local: true  do |f| %>
     <div class="form-group">
      <%= f.label :username, 'Nombre' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
     <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

      <div class="form-group">
    <%= f.label :password %> <i>(<%= t('devise.passwords.leave_blank') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password"  , class: 'form-control'%>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t('devise.forms.passwords.minimum_characters') %></em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control' %>
  </div>
<% end %>