<tr id='<%= dom_id(buy) %>'>
  <td><%= buy.id %></td>
  <td><%= buy.client %></td>
  <td>
    <div class="row">
      <div class="col">
      <%= buy.state_pretty %>
      </div>
      <%= render partial: "state_change", locals: { buy: buy , context:'index_buy'} %>
    </div>
  </td>
  <td><%= buy.pretty_price_total %> </td>
  <td><%= buy.date%></td>
  <td>
    <%= link_to 'Ver', backend_buy_path(buy), method: :get, class: 'btn btn-sm btn-outline-info text-right' %>
  </td>
</tr>