<tr id='<%= dom_id(buy) %>'>
  <td><%= buy.id %></td>
  <td><%= buy.client %></td>
  <td>
    <div class="row">
      <div class="col">
      <%= buy.state %>
      </div>
      <%= render partial: "state_change", locals: { buy: buy } %>
    </div>
  </td>
  <td><%= buy.pretty_price %> </td>
  <td><%= buy.date%></td>
</tr>