<tr  id='<%= dom_id(buy) %>' >
  <td><%= buy.client %></td>
  <td><%= buy.date %></td>
  <td>
  <div class="row">
    <div class="col js-state-container">
    <%= buy.state_pretty %>
    </div>
    <%= render partial: "state_change", locals: { buy: buy, context:'show_buy'} %>
  </div>
  </td>
</tr>

