<br>
<%= render 'flash_message' %>
<table class="table table-borderless">
  <thead>
    <tr class="text-secondary">
      
      <th scope="col">Cliente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "header_show", locals: { buy: @buy} %>
  </tbody>
</table>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody>
   <%= render @buy.items %>
  <tr class="bg-secondary text-white">
   <td colspan="3">TOTAL</td>
   <td class= "text-left"> <%= @buy.item_count%> </td>
   <td colspan="2"> <h4><%= @buy.pretty_price_total%></h4> </td>
   </tr>
  </tbody>
</table>
 
  <div class='card-footer'>
    <%= link_to 'Volver', backend_buys_path, class: 'btn btn-outline-secondary' %>
  </div>