
<%= form_with model: @user , url: backend_users_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :username, 'Nombre de usuario' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  
 
  <div class='card-footer'>
    <%= link_to 'Volver', backend_users_path, class: 'btn btn-outline-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
