
<%= form_with model:  [:backend, @user], local: true do |f| %>

    <small  class="form-text text-muted"> <%= I18n.t(:remember_password_same_username)%> </small>
    <br>
    <div class="form-group">
      <%= f.label :username, 'Nombre de usuario' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  <div class='card-footer'>
    <%= link_to 'Volver', backend_users_path, class: 'btn btn-outline-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
