<div class='nested-fields card'>
  <div class='card-body'>
    <div class="form-group">
        <%= f.label :image, 'Imagen' %>

        <% if f.object.image.attached? %>
          <%= f.hidden_field :image, value: f.object.image.signed_id %>
          <%= image_tag f.object.image, class: 'img-fluid', style: 'width: 250px' %>
        <% end %>

        <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :principal, 'principal' %>
      <%= f.check_box :principal, class: 'js-card-checkbox' %>
    </div>
    <div class="form-group">
      <%= link_to_remove_association "remove image", f %>
    </div>
  </div>
</div>