<h3>Producto #<%= @product.id %></h3>

    <div class="row">
      <div class="col">
        <b>Nombre</b><br/>
        <%= @product.name %>
      </div>
      <div class="col">
        <b>Active</b><br/>
        <%= @product.active %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Precio</b><br/>
        <%= @product.pretty_price %>
      </div>
      <div class="col">
        <b>Cost</b><br/>
        <%= @product.pretty_cost %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Categoria</b><br/>
        <%= @product.category_name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Descripción</b><br/>
        <%= @product.description %>
      </div>
    </div>

    <div class="mb-3">
      <%= image_tag(@product.image_principal, size:"75x75") %>
    </div>

    <div>
      <hr>
      <h4>Images</h4>
      <table class="table table-bordered">
        <thead class="thead-light">
        </thead>
        <tbody>
          <tr>
            <% @product.images_secondaries.each do |img| %>
              <%= image_tag(img, size:"75x75") %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>


  <div class='card-footer'>
    <%= link_to 'Volver', backend_products_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
