<h3><%= t('index_client')%></h3>
<%= render 'flash_message' %>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th><%= I18n.t(:name)%></th>
      <th><%= I18n.t(:email)%></th>
      <th><%= I18n.t(:options)%></th>
     </tr>
  </thead>
  <tbody>
    <%= render partial: 'client', collection: @clients, as: :client %>
  </tbody>
</table>