<!--<tr id='<%= dom_id(buy) %>'>-->
  <td><%= buy.id %></td>
  <td><%= buy.state %></td>
  <td>
    <%= buy.item_count %>
  </td>
  <td>
    <%= buy.total_buy %>
  </td>
  <td>
    <%= buy.decorate.date %>
  </td>
  <td class='text-right'>
    <div >
      <%= link_to 'Ver', buy_path(buy),  class: 'btn btn-sm btn-outline-info' %>
    </div>
  </td>
</tr>
