<h1> Mis Compras </h1>
<br>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th><%= I18n.t(:buys) %></th>
      <th><%= I18n.t(:state) %></th>
      <th><%= I18n.t(:products) %></th>
      <th><%= I18n.t(:total) %></th>
      <th><%= I18n.t(:date) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id='buys_container'>
    <%= render @buys %>
  </tbody>
</table>
