<br>
<div class= "container-fluid"> 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col"><%= I18n.t(:product) %></th>
      <th scope="col"><%= I18n.t(:price) %>o</th>
      <th scope="col"><%= I18n.t(:count) %></th>
      <th scope="col"><%= I18n.t(:subtotal) %></th>
    </tr>
  </thead>
  <tbody>
   <%= render @buy.items %>
  </tbody>
</table>
  <div class="p-3 mb-2 bg-secondary text-white">
    <div class="row">
      <div class="col">
      TOTAL
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
           <%= I18n.t(:final_count) %>
          </div>
          <div class="col">
            <%= @buy.item_count%>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
      <div class="col">
      <p><%= I18n.t(:final_price) %></p>
      </div>
      <div class="col">
      <h4><%= @buy.pretty_price_total%></h4>
      </div>
      </div>
    </div>
  </div>
 </div>
</div>  
<div class='card-footer'>
    <%= link_to I18n.t(:return), buys_path, class: 'btn btn-outline-secondary' %>
</div>
