<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <% if user_signed_in? %>
    <%= current_user.username %>
  <% else %>
  Options
  <% end %>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
  <% if user_signed_in? %>
    <%= link_to 'Editar perfil', edit_user_registration_path, {method: :get, class: 'nav-link dropdown-item'} %>
    <% if can? :manage, Buy %>
  <!-- role checkboxes go here -->
      <%= link_to 'Mis Compras',buys_path,{method: :get, class: 'nav-link dropdown-item'} %>

    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, {method: :delete, class: 'nav-link dropdown-item'} %>
  <% else %>
    <%= link_to 'Iniciar sesión', new_user_session_path, {method: :get, class: 'dropdown-item'} %>
  <% end %>
</div>