<% @cart.each do |id_product, count| %>
<tr id="item-#{id_product}">
  <td><%= image_tag(Product.find(id_product).decorate.image_principal, size: "25x25") %><%= Product.find(id_product).name %></td>
  <td><%= Product.find(id_product).price %></td>
  <td><%= count %></td>
  <td><%= count * Product.find(id_product).price %></td>
</tr>
<% end %>