<% @cart.each do |id_product, count| %>
<tr id="item-<%= id_product %>">
  <td><%= image_tag(Product.find(id_product).decorate.image_principal, size: "25x25") %><%= Product.find(id_product).name %></td>
  <td><%= Product.find(id_product).price %></td>
  <td><%= count %></td>
  <td><%= count * Product.find(id_product).price %></td>
  <td><%= link_to image_tag('close.png', size: "30x30"), remove_product_from_cart_path(id_product), remote: true, class: "btn btn-outline-danger" %></td>
</tr>
<% end %>