<br>
<div class='d-flex justify-content-between bg-secondary p-3 mb-2 text-white text-left'>
<h2>Carrito</h2>
<br>
<div class= "container-fluid"> 
<table class="table">
  <thead class="thead-light">
    <tr>
     
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   <%= render "items_in_cart" %>
  </tbody>
</table>
  <div class="p-3 mb-2 bg-secondary text-white">
    <div class="row">
      <div class="col">
      TOTAL
      </div>
      <div class="col">
        <div class="row">
        <div class="col"></div>
        <div class="col">
        cantidad final: 
        </div>
        <div class="col">
          <%= render "cart_final_count" %>
        </div>
        </div>
      </div>
      <div class="col">
      <h4><%= render "cart_price_total" %></h4>
      </div>
  </div>

  <% if can? :authorize_close_car, :frontend_cart %>
    <%= link_to 'Hacer pedido', , %>
  <% else %>
    <p class="text-red">
    Para cerra el carrito de compras debe de:
    <%= link_to ' Iniciar sesión', new_user_session_path,{method: :get, class: 'btn btn-primary'}%>
    </p>
  <% end %>
</div>
</div>