<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
  <div class="" id="page-content">
    <div class="d-flex" id="wrapper">
     <%= render 'sidebar' %>
    <div id="page-content-wrapper">
       <%= render 'navbar' %>

       <div class="container-fluid">
         <%= yield %>
       </div>
     </div>
   </div>
  </div>
   <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Catalogo</small>
    </div>
  </footer>
  </body>
</html>
