<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">

  </head>

  <body class="d-flex flex-column">
  <div id="page-content">
    <div class="d-flex" id="wrapper">
    <% if user_signed_in? && current_user.profile.admin? %>
     <%= render 'sidebar_backend' %>
    <% end %>
    <div id="page-content-wrapper">

    <% if user_signed_in? && current_user.profile.admin? %>
     <%= render 'navbar_backend' %>
    <% else %>
      <%= render 'navbar_frontend'%>   
    <% end %>
       <div class="container-fluid">
          <%= yield %>
       </div>
     </div>
   </div>
  </div>
  <%= render 'footer'%>
  </body>
</html>
