<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body class="d-flex flex-column">

    <div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
       <%= render 'navbar_frontend' %>
       <div class="container-fluid">
          <%= yield %>
       </div>
     </div>
   </div>
   <br>
  <%= render 'footer'%>
  </body>
</html>
